{% extends "base.html.twig" %}

{% block title %}AppBundle:Person:Add{% endblock %}

{% block body %}
<h1>Utworzono użytkownika {{ newPerson.name }} {{ newPerson.surname }}</h1>
    <a href="{{ path('showall') }}">wróć na główną</a>
{% endblock %}
