{% extends "base.html.twig" %}

{% block title %}AppBundle:Address:Create{% endblock %}

{% block body %}
<h1>utwórz nowy adres</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
