{% extends "base.html.twig" %}

{% block title %}AppBundle:Phone:create_phone{% endblock %}

{% block body %}
<h1>Welcome to the Phone:create_phone page</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
