{% extends "base.html.twig" %}

{% block title %}AppBundle:Phone:modify_phone{% endblock %}

{% block body %}
<h1>Modyfikacja numeru</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
