{% extends "base.html.twig" %}

{% block title %}AppBundle:Email:add_email{% endblock %}

{% block body %}
<h1>dodano nowy email {{ newEmail.emailAddress }}</h1>
    <a href="{{ path('showall') }}">wróć na główną</a>
{% endblock %}
